extends layout

block content
  if session.message
    p= session.message
  if session.signed
    h2 Welcome #{session.email}!
    h4 Now go buy some books or something
    a(href='/logout') Sign out
  else
    a(href='/login') Sign in
